<p>
  <strong>Strength:</strong>
  <%= stat.strength %>
</p>

<p>
  <strong>Agility:</strong>
  <%= stat.agility %>
</p>

<p>
  <strong>Stamina:</strong>
  <%= stat.stamina %>
</p>

<p>
<td><%= link_to 'Edit', edit_character_stat_path(stat) %></td>
</p>